*.o
devel/
snd/
src/patches/
contrib/
Makefile
INSTALL.gtmess
build-stamp
config.log
config.status
configure-tmp.ac
description-pak
gencfg
gtmess.config
gtmess.creator
gtmess.creator.user
gtmess.files
gtmess.includes
src/client/gdbcmd
src/client/gtmess
src/client/montajoe
src/config.h
src/gtmess-notify
